.product-page {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 4.5rem 1fr auto;
    grid-template-columns: 15rem 1fr;
    grid-template-areas:
        "nav nav"
        "aside main"
        "footer footer";
}

.product-page .main-nav {
    grid-area: nav;
}

aside {
    background: var(--WHITE);
    grid-area: aside;
}

.aside-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-page main {
    grid-area: main;
}

.grid-3-column {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

/*list styling*/
aside li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/*hover effect on cards*/
.card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 5px var(--GREY);
}

.card:hover .overlay {
    cursor: no-drop;
}

.sold-out:hover {
    box-shadow: none;
}

hr {
    margin: 1rem 0;
}
