.hide-overlay {
   display: none;
}

.rating-badge {
   background-color: var(--WHITE);
   padding: 5px 8px;
   width: max-content;
   height: 2rem;
   border-radius: 5px 0;
   opacity: 0.75;

   position: absolute;
   top: 1rem;
   left: 1rem;

   display: flex;
   align-items: center;
   justify-content: center;
}
