.cart-page {
   display: grid;
   grid-template-rows: 4.5rem auto 1fr auto;
   grid-template-areas:
      "nav"
      "heading"
      "main"
      "footer";
   min-height: 100vh;
}

.cart-page .main-nav {
   grid-area: nav;
}

h4 {
   grid-area: heading;
   justify-self: center;
}

/*main section styling*/
.cart-page main {
   grid-area: main;
   display: flex;
   justify-content: space-evenly;
}

.cart-items {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

/*card displaying price details*/
.price-card {
   width: 22rem;
   height: 20rem;
   background: var(--WHITE);

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.card-field {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.price-card .button {
   width: 100%;
}

.card .secondary {
   margin-top: auto;
}

.price-card hr {
   width: 100%;
}
